h2{
    font-family: 'Playfair Display',"Palatino Linotype","Book Antiqua",Palatino,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 64px;
}

#redeem-cabin-type-header-section {
    margin: 30px 0;
    #redeem-cabin-type-header{
        background: #e2e2e2;
        padding: 30px;
        line-height: 30px;
    }
}

#redeem-cabin-type-option-header {
    line-height: 30px;
    border-bottom: 1px solid #999;
    padding: 0 15px 10px 15px;
    margin-bottom: 10px;
}

.redeem-cabin-type-option-item{
    padding: 0 15px;
    width: 100%;
    display: inline-block;
    line-height: 40px;
}

.redeem-cabin-type-option-item:hover{
    background: rgba(48, 176, 255, 0.815);
    border-radius: 5px;
    color: #fff;
}

.redeem-cabin-container {
    background: #e2e2e2;
    margin-bottom: 30px;
    height: 100px;  
    .redeem-cabin-pax {
        height: 100px;
        text-align: center;
        line-height: 100px;
        border-right: 1px solid #999;
    } 
    .redeem-cabin-info{
        height: 100px;
        .redeem-cabin-container-inner-section{
            height: 50px;
            line-height: 50px;
        }
        .redeem-cabin-container-inner-section.has-border-bottom{
            border-bottom: 1px solid #999;
        }
    }
}

#redeem-cabin-summery-section {
    margin-top: 80px;
}

.redeen-cabin-summery-checkout{
    border-top: 1px solid #999;
    padding-top: 30px;
}

.redeem-cabin-checkout-total,
.redeem-cabin-checkout-amount {
    font-weight: bold;
    line-height: 63px;  
}

.booking-detail-title{
    font-size: 50px;
}

#payment-dashboard-section h1, #payment-register-form-section h1 {
    text-align: center;
    margin-bottom: 60px;
    padding-top: 50px;
}

.redeem-subsequence-cabin-search{
    background: #e2e2e2;
    padding: 20px;
    .subpax-selector {
        display: inline-block;
        float: left;
        margin-left: 10px;
        text-align: center;
        position: relative;
        margin-top: 14px;
        background: #fff;
        line-height: 45px;
        width: 180px;
        border: 1px solid #aaa;
        label {
            height: inherit;
            display: block;
            font-size: 13px;
            color: #aaa;
            padding-right: 20px;
        }
        input {
            position: absolute;
            top: -1px;
            width: calc(50% - 15px);
            right: 0;
            height: 100%;
            font-size: 14px;
            border: none;
            background: transparent;
            padding-bottom: 1px;
        }
    }
    .subpax-btn {
        margin-top: 14px;
        height: 47px;
        border: 1px solid #aaa;
        margin-left: 10px;
        width: 100px;
        background: #ffffff;
        color: #4a4a4a;
    }
}

.proceedCheckOut{
    margin-top: 14px;
    height: 47px;
    border: 1px solid #aaa;
    margin-left: 10px;
    width: 170px;
    background: #ffffff;
    color: #4a4a4a;
    float: right;
}

.pretend-text{
    color: #a4a4a4;
    padding-bottom: 15px;
}

fieldset {
    border: 1px solid #e2e2e2!important;
    padding: 25px 20px 0 20px!important;
    margin-bottom: 30px!important;
    legend {
        padding: 0 10px!important;
    }
}

.customPaxCounter{
    position: absolute;
    top: 50px;
    width: 100%;
    background: #fff;
    border: 1px solid #aaa;
    margin: 0;
    padding: 0;
    .number-minus,
    .number-add {
        top: -12px;
    }
}