
//    _____ _____ __  __ ____   ___  ____      _    ______   __
//   |_   _| ____|  \/  |  _ \ / _ \|  _ \    / \  |  _ \ \ / /
//     | | |  _| | |\/| | |_) | | | | |_) |  / _ \ | |_) \ V /
//     | | | |___| |  | |  __/| |_| |  _ <  / ___ \|  _ < | |
//     |_| |_____|_|  |_|_|    \___/|_| \_\/_/   \_\_| \_\|_|
//

#account-register-form-section{
  h1{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 50px;
  }
} // #account-register-form-section





#account-dashboard-section{
  h1{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 50px;
  }
  h4{
    margin-bottom: 20px;
  }

  pre{
    font-size: 12px;
    line-height: 16px;
  }
  .cta-container{
    text-align: right;
  }
}



#account-edit-user-form-section{
  h1{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 50px;
  }
}



#account-login-section{
  h1{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 50px;
  }

  .help-block{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

